body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    text-align: center;
}

/* not in use */
.niu-container {
    text-align: center;
    background: white;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

code {
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.95rem;
    color: #d6336c;
}

p, ul, li {
    margin-top: 0.5em;
    text-align: left;
}


p.message {
    color: red;
    font-weight: bold;
}

a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

embed {
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

a.button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #1a73e8;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

a.button:hover {
    background-color: #1664c1;
}

